@model IList<ShopItem>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>Shop Items</h2>
    </div>
    <div class="col">
        <h2>Shopping cart</h2>
        
        <h2>Totaal: </h2>
        <a href="#" class="btn btn-primary">Checkout</a>
    </div>
</div>