@model ShopItem

<tr>
    <td>@Model.ItemName</td>
    <td>@Model.Price</td>
    <td>
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
        <a class="btn btn-warning" asp-action="Delete" asp-route-id="@Model.Id">
            Delete
        </a>
    </td>
</tr>